.form-range-field {
  width: 48%;
  float: left;
}

.form-range-field-even {
  background: #f6f4f4;
  padding: 0px 10px;
  text-align: center;
  padding-bottom: 10px;
}

.form-range-field-odd {
  background: #fff;
  padding: 0px 10px;
  text-align: center;
  padding-bottom: 10px;
}

.form-range-field input {
  width: 94%;
  height: 36px;
  padding: 10px;
  box-shadow: none;
}

#range-fieldset-wrapper fieldset {
  background-color: #e0e0d8;
  border-radius: 2px;
  margin: 1em 0;
  padding: 30px 18px 18px;
  min-width: 0;
  position: relative;
}

#range-fieldset-wrapper fieldset label {
  padding: 0;
  font-weight: bold;
  margin-left: 20px;
}

.range-button {
  margin-top: 26px;
  float: left;
  width: 163px;
}
